@import '../../../styles/constants.scss';

.wrapper {
  overflow: hidden;

  .container {
    position: relative;
    z-index: 1;

    .upperElements {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .lowerElements {
      margin-top: 12rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}